/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 30;
}

.wrapper { 
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
.login-container{
width: 100vm;
height: 100vh;
background-image: url("https://ak.picdn.net/shutterstock/videos/2753057/thumb/1.jpg");
display: flex;
justify-content: center;
}
.login-container-box{
background-color: rgb(20, 9, 55);
align-self: center;
border-radius: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 5px;

}
.form input{
  font-size: 20px;
  padding: 8px;
  margin: 0 0 8px 0
}
.auth-options{
  display: flex;
  flex-direction: row;
}
.auth-options button{
  width: 50%;
  text-align: center;
  color: rgb(225, 220, 239);
  font-size: 20px;
  border: none;
  background-color: rgb(56, 56, 205);
  padding: 8px;
}
.submit-button{
  background-color: rgb(18, 25, 118);
  color: #ffffff;
  border: none;
  font-size: 20px;
  padding: 8px;
  width: 100%;
}
.submit-button:hover{
  background-color: #854fe3;
}